*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.App{
  display: flex;
  flex-direction: column;
  background-image: url('./asset/blackboard.jpg') ;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}
.form-section{
  height:100px;
  width: 100%;
  background-color: transparent;
  margin-top: 0;
}
.display-section{
  flex: 1;
  margin-top: 10px;
  height:100%;
  width: 100%;
  background-color: transparent;
  overflow-y: auto;
}